@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
  font-family: Quicksand;
}

body {
  background: rgb(251, 250, 255);
  min-height: 100vh;
}

.title {
  color: rgb(84, 26, 219);
}

/* the Albums component */

  /* AlbumCard component */
.album-card {
  box-shadow: 2px 2px 5px 1px rgba(2,2,2,0.5);
}
.button-purple {
  border-radius: 3px;
  border: none;
  transition: all 0.3s ease;
  background-color: rgb(84, 26, 219) !important;
  color: white !important;
}
.button-purple:hover {
  background-color: rgb(55, 30, 114) !important;
}
.button-purple:hover, .button-purple:active, .button-purple:focus {
  outline: none;
  text-decoration: none;
}

  /* AlbumDetail component */
.album-detail-card {
  height: 650px;
  overflow: auto;
  transition:  all 0.3s ease;
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(157, 102, 253)), to(rgb(0, 0, 0)));
  box-shadow: 2px 2px 5px 1px rgb(54, 10, 110);
}

.album-detail-card::-webkit-scrollbar { 
  width: 8px;
  height: 13px;
  border-radius: 5px;
  /* background-color: rgba(245, 245, 245, 0.3); */
}

.album-detail-card::-webkit-scrollbar-thumb { 
  background-color: whitesmoke;
  border-radius: 5px;
  background-color: rgb(156, 154, 160);
}

/* the TopCharts component */
.featured-detail-card {
  box-shadow: 1px 1px 5px 1px rgb(160, 15, 87);
}
.title-charts {
  color: rgb(221, 21, 98);
}

.button-pink {
  border-radius: 3px;
  border: none;
  transition: all 0.3s ease;
  background-color: rgb(221, 21, 98) !important;
  color: white !important;
}
.button-purple:hover {
  background-color: rgb(165, 20, 76) !important;
}
.button-purple:hover, .button-purple:active, .button-purple:focus {
  outline: none;
  text-decoration: none;
}


/* for the ReactCSSTransitionGroup animations */
.example-enter {
  opacity: 0.1;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 0.5;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}